@font-face {
  font-family: 'echo-icon';
  src: url('../fonts/echo-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'echo-icon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}

/* 播放图标 */
.icon-play:before {
  content: "\e910";
}